<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmguCV" version="3.1.0.1" targetFramework="net472" />
  <package id="EmguFFmpeg" version="1.1.2" targetFramework="net472" />
  <package id="EmguFFmpeg.OpenCvSharp" version="1.0.17" targetFramework="net472" />
  <package id="FFmpeg.AutoGen" version="5.1.1" targetFramework="net472" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net472" />
  <package id="OpenCVSharp" version="2.4.0.1" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.7.0.20230115" targetFramework="net472" />
  <package id="OpenCvSharp4.Extensions" version="4.7.0.20230115" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.7.0.20230115" targetFramework="net472" />
  <package id="OpenCvSharp4.Windows" version="4.7.0.20230115" targetFramework="net472" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.5.3.20211207" targetFramework="net472" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.3" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net472" />
</packages>